<div class="col-12 info-block txt-center">
    <a routerLink="">Accueil</a>
</div>
<div class="col-12 info-block text-center">
    <p>Ce site est destiné à notre famille, nos amis et collègues. Si vous ne nous connaissez pas, passez votre chemin.</p>
    <p>Les données recueillies sur ce site (nom, prénom, mail et choix des formulaires) ne seront pas transmis à des tiers.</p>
    <p class="text-danger font-weight-bold">Ces données seront détruites le 31/12/2020 au plus tard.</p>
    <p>Vous avez un droit d'accès à vos données et je vous invite pour celà à nous contacter à : simon at lhoir point me</p>
</div>
