<h3 class="text-center">Paramètres</h3>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 info-block">
        <p class="text-center">Tant qu'une étape n'est pas révélée, vous pouvez modifier le paramètre en modifiant le formulaire.</p>
        <p class="text-center">Lorsqu'une étape est validée, la modification du forulaire n'est plus permise, un email sera envoyé aux participants.<br /> le vote pour cette étape est alors clos.</p>
        <p class="text-center alert alert-warning">Pour valider une étape, il faut cocher la case et mettre à jour le formulaire.</p>
    </div>
</div>



<div class="error-block hidden" id="errorBlock"></div>
<div class="success-block hidden" id="successBlock"></div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-newton-cradle" fullScreen="true">
    <p style="color: white"> Enregistrement... </p>
</ngx-spinner>

<div class="row">
    <div class="col-sm-6">
        <form [formGroup]="genderForm" (ngSubmit)="onSubmitGenderForm()">
            <div class="card">
                <div class="card-header">
                    Etape 1


                    <div class="custom-control custom-checkbox inlineR">
                        <input *ngIf="userRole!='ADMIN'" type="checkbox" class="custom-control-input" id="genderRevealed" formControlName="genderRevealed" [checked]="genderSetting.revealed" disabled>
                        <input *ngIf="userRole=='ADMIN'" type="checkbox" class="custom-control-input" id="genderRevealed" formControlName="genderRevealed" [checked]="genderSetting.revealed">
                        <label class="custom-control-label" for="genderRevealed"> </label>
                    </div>


                </div>
                <div class="card-body">
                    <h5 class="card-title">Sexe du bébé</h5>
                    <div class="form-group">
                        <p>Notre petit pois sera :</p>
                        <div class="custom-control custom-radio">
                            <input *ngIf="userRole!='ADMIN'" type="radio" formControlName="genderCheckboxes" id="genderCheckboxe1" name="genderCheckboxes" class="custom-control-input" [checked]="' '==genderSetting.value" value=" " [disabled]="userRole=='ADMIN'" disabled>
                            <input *ngIf="userRole=='ADMIN'" type="radio" formControlName="genderCheckboxes" id="genderCheckboxe1" name="genderCheckboxes" class="custom-control-input" [checked]="' '==genderSetting.value" value=" " [disabled]="userRole=='ADMIN'">
                            <label class="custom-control-label" for="genderCheckboxe1">non defini</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input *ngIf="userRole!='ADMIN'" type="radio" formControlName="genderCheckboxes" id="genderCheckboxe2" name="genderCheckboxes" class="custom-control-input" [checked]="'G'==genderSetting.value" value="G" [disabled]="userRole=='ADMIN'" disabled>
                            <input *ngIf="userRole=='ADMIN'" type="radio" formControlName="genderCheckboxes" id="genderCheckboxe2" name="genderCheckboxes" class="custom-control-input" [checked]="'G'==genderSetting.value" value="G" [disabled]="userRole=='ADMIN'">
                            <label class="custom-control-label" for="genderCheckboxe2">une Fille</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input *ngIf="userRole!='ADMIN'" type="radio" formControlName="genderCheckboxes" id="genderCheckboxe3" name="genderCheckboxes" class="custom-control-input" [checked]="'B'==genderSetting.value" value="B" [disabled]="userRole=='ADMIN'" disabled>
                            <input *ngIf="userRole=='ADMIN'" type="radio" formControlName="genderCheckboxes" id="genderCheckboxe3" name="genderCheckboxes" class="custom-control-input" [checked]="'B'==genderSetting.value" value="B" [disabled]="userRole=='ADMIN'">
                            <label class="custom-control-label" for="genderCheckboxe3">un Garçon</label>
                        </div>
                    </div>
                    <button *ngIf="userRole!='ADMIN'" type="submit" class="btn btn-secondary" disabled>Mettre à jour</button>
                    <button *ngIf="userRole=='ADMIN'" type="submit" class="btn btn-success">Mettre à jour</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <form [formGroup]="nameForm" (ngSubmit)="onSubmitNameForm()">
            <div class="card">
                <div class="card-header">
                    Etape 2
                    <div class="custom-control custom-checkbox inlineR">
                        <input *ngIf="userRole!='ADMIN'" type="checkbox" class="custom-control-input" id="nameRevealed" formControlName="nameRevealed" [checked]="nameSetting.revealed" disabled>
                        <input *ngIf="userRole=='ADMIN'" type="checkbox" class="custom-control-input" id="nameRevealed" formControlName="nameRevealed" [checked]="nameSetting.revealed">
                        <label class="custom-control-label" for="nameRevealed"> </label>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Prénom du bébé</h5>
                    <p class="card-text">Vous ne pourrez révélé prénom du bébé que si l'étape 1 est elle même révélée.</p>

                    <div class="form-group">
                        <label for="nameSelect">Notre petit pois s'appellera : </label>
                        <input *ngIf="userRole!='ADMIN'" type="text" class="form-control" id="nameSelect" [value]="nameSetting.value" formControlName="nameSelect" disabled>
                        <input *ngIf="userRole=='ADMIN'" type="text" class="form-control" id="nameSelect" [value]="nameSetting.value" formControlName="nameSelect">
                    </div>
                    <button *ngIf="userRole!='ADMIN'" type="submit" class="btn btn-secondary" disabled>Mettre à jour</button>
                    <button *ngIf="userRole=='ADMIN'" type="submit" class="btn btn-success">Mettre à jour</button>
                </div>
            </div>
        </form>
    </div>