.fright {
    float: right !important;
}

div.inlineR {
    display: inline;
    float: right;
}

.custom-control-label:before {
    background-color: lightgrey;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: lightgreen;
    border-color: lightgreen;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: lightgreen;
    border-color: lightgreen;
}