span.big {
    font-size: 4rem;
    font-weight: bolder;
}

div.row~div.row {
    margin: 0 !important;
}

.example-margin {
    margin: 0.2rem;
}

div.girl,
div.boy,
div.total {
    margin: 2rem 0 !important;
    padding: 1rem;
}

div.girl {
    background: rgba(227, 166, 209, 0.9);
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}

div.boy {
    background: rgba(94, 190, 191, 0.9);
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

div.total {
    background: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.btn-txt {
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
}