<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-newton-cradle" fullScreen="true">
    <p style="color: white">{{ spinnerTxt }} </p>
</ngx-spinner>

<!-- STATS -->
<h3 class="txt-center">Stats</h3>
<div class="info-block">
    <div class="row">
        <div class="col-4 txt-center">
            <p class="big-number d-none d-md-block">{{ girls }}</p>
            <p class="moy-number d-block d-md-none">{{ girls }}</p>
            <img class="big-icon" src="./assets/img/babygirl.svg" alt="girl icon" />
        </div>
        <div class="col-4 separator txt-center">
            <p class="big-number d-none d-md-block">{{ girls+boys }}</p>
            <p class="moy-number d-block d-md-none">{{ girls+boys }}</p>
            <img class="big-icon" src="./assets/img/lovebox.svg" alt="participants icon" />
        </div>
        <div class="col-4 separator txt-center">
            <p class="big-number d-none d-md-block">{{ boys }}</p>
            <p class="moy-number d-block d-md-none">{{ boys }}</p>
            <img class="big-icon" src="./assets/img/babyboy.svg" alt="boy icon" />
        </div>
    </div>
</div>


<!-- VOTES -->

<h3 class="txt-center">Votes</h3>

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <mat-card>
            <mat-card-content>
                <section class="slider-section">
                    <mat-slide-toggle class="slider-margin" [color]="color" [checked]="checked" [disabled]="disabled" (click)="onToggleViewFalseVote()">
                        Cacher les votes annulés
                    </mat-slide-toggle>
                </section>
            </mat-card-content>
        </mat-card>
    </div>
</div>



<div *ngIf="error" class="error-block txt-center txt-bold">{{error}}</div>

<div class="accordion" id="genderAccordion">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div *ngFor=" let gender of genders; let i=index ">
                <div *ngIf="i%10==0&&i!=0">
                    <div class="col-12 txt-center">
                        <button class="btn btn-link" (click)="scrollToElement('up')">Revenir en haut</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header {{ gender.choice }} {{ gender.status == true ? '' : hideStatusFalse == true ? 'I' : 'K'}}" id="heading{{ gender.id }}" data-toggle="collapse" attr.data-target="#collapse{{ gender.id }}" attr.aria-expanded="false" attr.aria-controls="collapse{{ gender.id }}">

                        <h2 class="mb-0">
                            <button class="btn btn-link btn-txt" type="button">
                        {{ gender.fname }} {{ gender.name }}
                    </button>
                        </h2>
                    </div>
                </div>
                <div id="collapse{{ gender.id }}" class="collapse" attr.aria-labelledby="heading{{ gender.id }}" attr.data-parent="#genderAccordion">
                    <div class="card-body">
                        <div class="row marged">
                            <div class="col-12 col-md-6">{{ gender.email }}</div>
                            <div class="col-12 col-md-6">A voté le : {{ gender.registerDate | date: 'EEEE d MMMM y HH:MM:ss' }}</div>
                        </div>
                        <div class="row marged">
                            <div class="col-6">
                                <button *ngIf="userRole==='ADMIN'" type="button" id="genderSupprimer{{ gender.id }}" (click)="openDialog(gender.id,gender.email)" type="submit" class="form-control btn-danger">
                            Supprimer</button>
                                <button *ngIf="userRole!=='ADMIN'" type="button" id="genderSupprimer{{ gender.id }}" type="submit" class="form-control btn-disable" disabled="disabled">
                                Supprimer</button>

                            </div>
                            <div class="col-6">
                                <button *ngIf="gender.status===false" (click)="onPatch(gender.id)" id="genderActivate" type="submit" class="form-control btn-success btn-sm">
                            Debloquer</button>
                                <button *ngIf="gender.status===true" (click)="onPatch(gender.id)" id="genderLock" type="submit" class="form-control btn-warning btn-sm">
                            Bloquer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>