<h2 class="text-center">Parents Zone</h2>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-newton-cradle" fullScreen="true">
    <p style="color: white"> Connexion... </p>
</ngx-spinner>

<div id="loginForm">
    <div *ngIf="error" class="error-block txt-center">{{error}}</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="text" class="form-control" placeholder="Login" id="username" name="username" formControlName="username">
            </div>
        </div>
        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="password" class="form-control" placeholder="Password" id="password" name="password" formControlName="password">
            </div>
        </div>
        <div class="row marged">
            <div class="col-12 col-md-6 offset-md-3 col-lg-2 offset-lg-5">
                <button id="loginSubmit" type="submit" class="form-control btn-info" [disabled]="loginForm.invalid">
                    Envoyer</button>
            </div>
        </div>
    </form>
</div>