<ngx-spinner bdColor="rgba(51,51,51,1)" size="medium" color="#fff" type="ball-newton-cradle" fullScreen="true">
    <p style="color: white">{{ spinnerTxt }} </p>
</ngx-spinner>

<div id="error" class="alert alert-danger hidden"></div>

<div id="adminNamePage" class="hidden">
    <!-- STATS -->
    <h3 class="txt-center">Stats</h3>
    <div class="info-block">
        <div class="row">
            <div class="col-4 txt-center">
                <p class="big-number d-none d-md-block">{{ votants }}</p>
                <p class="moy-number d-block d-md-none">{{ votants }}</p>
                <img class="big-icon" src="./assets/img/lovebox.svg" alt="participants icon" />
            </div>
            <div class="col-4 separator txt-center">
                <p class="big-number d-none d-md-block">{{ gagnants }}</p>
                <p class="moy-number d-block d-md-none">{{ gagnants }}</p>
                <img class="big-icon" src="./assets/img/crown.svg" alt="winners icon" />
            </div>
            <div class="col-4 separator txt-center">
                <p class="big-number d-none d-md-block">{{ prenoms }}</p>
                <p class="moy-number d-block d-md-none">{{ prenoms }}</p>
                <img class="big-icon" src="./assets/img/checklist.svg" alt="number of unique first name icon" />
            </div>
        </div>
    </div>
    <!-- TENDANCES -->
    <div *ngIf="userRole=='ADMIN'">
        <h3 class="txt-center">Tendances</h3>
        <div class="row info-block">
            <div class="col-12 col-md-4 offset-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of tendances">{{ item.choice }} <span class="badge badge-boy badge-pill">{{ item.recurrence }}</span></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- VOTES -->

    <h3 class="txt-center">Votes</h3>

    <div *ngIf="error" class="error-block txt-center txt-bold">{{error}}</div>

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <mat-card>
                <mat-card-content>
                    <section class="slider-section">
                        <mat-slide-toggle class="slider-margin" [color]="color" [checked]="checked" [disabled]="disabled" (click)="onToggleViewFalseVote()">
                            Cacher les votes annulés
                        </mat-slide-toggle>
                    </section>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="accordion" id="nameAccordion">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div *ngFor=" let name of names; let i=index ">
                    <div *ngIf="i%10==0&&i!=0">
                        <div class="col-12 txt-center">
                            <button class="btn btn-link" (click)="scrollToElement('up')">Revenir en haut</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header  {{ name.status == true ? '' : hideStatusFalse == true ? 'I' : 'K'}}" id="heading{{ name.id }}" data-toggle="collapse" attr.data-target="#collapse{{ name.id }}" attr.aria-expanded="false" attr.aria-controls="collapse{{ name.id }}">

                            <h2 class="mb-0 d-flex justify-content-between align-items-center">
                                <button class="btn btn-link btn-txt" type="button">
                                    {{ name.fname }} {{ name.name }}
                                </button>
                                <div *ngIf="name.findedName==true&&name.status==true&&userRole=='ADMIN'"> <img class="moy-icon" src="./assets/img/crown.svg" alt="winners icon" /></div>

                            </h2>
                        </div>
                    </div>
                    <div id="collapse{{ name.id }}" class="collapse" attr.aria-labelledby="heading{{ name.id }}" attr.data-parent="#nameAccordion">
                        <div class="card-body">
                            <div class="row marged">
                                <div class="col-12 col-md-6 offset-md-3">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of name.choix">{{ item.choice }} </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6">{{ name.email }}</div>
                                <div class="col-12 col-md-6">A voté le : {{ name.registerDate | date: 'EEEE d MMMM y HH:MM:ss' }}</div>
                            </div>
                            <div class="row marged">
                                <div class="col-6">
                                    <button *ngIf="userRole==='ADMIN'" type="button" id="genderSupprimer{{ name.id }}" (click)="openDialog(name.id,name.email)" type="submit" class="form-control btn-danger">
                                        Supprimer</button>
                                    <button *ngIf="userRole!=='ADMIN'" type="button" id="genderSupprimer{{ name.id }}" type="submit" class="form-control btn-disable" disabled="disabled">
                                        Supprimer</button>

                                </div>
                                <div class="col-6">
                                    <button *ngIf="name.status===false" (click)="onPatch(name.id)" id="nameActivate" type="submit" class="form-control btn-success btn-sm">
                                        Debloquer</button>
                                    <button *ngIf="name.status===true" (click)="onPatch(name.id)" id="nameLock" type="submit" class="form-control btn-warning btn-sm">
                                        Bloquer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>