<div class="container-fluid spaceBetween">
  <div class="row">
    <div class="col-12 align-items-start">
      <app-header></app-header>
    </div>
    <div class="col-12 align-items-center">
      
      <router-outlet></router-outlet>
      
    </div>
    <div class="col-12 align-items-end">
      <app-footer></app-footer>
    </div>
  </div>