<div *ngIf="isParentZone==true">
    <nav id="headerNav" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/parents">Parents Zone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#parentZoneMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="parentZoneMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/parents/gender">Votes genre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/parents/name">Votes prénoms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/parents/settings">Paramètres</a>
                </li>


                <li class="nav-item">
                    <button class="btn btn-link" (click)="onLogOut()">deconnexion</button>
                </li>
            </ul>
            <span class="badge badge-info">
                {{ currentUser }}
            </span>
        </div>
    </nav>
    <div *ngIf="userRole!=='ADMIN'" class="warning-block txt-center txt-bold">Vous êtes connecté comme invité, vos droits sont restreints</div>
</div>
<div *ngIf="isParentZone==false && showTitle==true">
    <h1 class="text-center">Ca y est<br />notre petit pois arrive :)</h1>
</div>