<h3 class="text-center">As ton avis, ce sera une fille ou un garçon ?</h3>

<div id="completeForm">
    <div class="row">
        <div class="col-6">
            <div id="choiceG" class="form-control btn btn-girl invert" (click)="onChangeChoice('G')">Fille</div>
        </div>
        <div class="col-6">
            <div id="choiceB" class="form-control btn btn-boy invert" (click)="onChangeChoice('B')">Garçon</div>
        </div>
    </div>

    <div class="info-block" id="divChoice">
        <p class="txt-center">Tu penses que c'est <span class="{{ choiceColor}}">{{ choiceTxt }}</span> ?<br /> Complète ce formulaire pour valider ton choix.</p>
    </div>

    <div class="error-block hidden" id="errorBlock">

    </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-newton-cradle" fullScreen="true">
        <p style="color: white"> Enregistrement... </p>
    </ngx-spinner>

    <form [formGroup]="genderForm" (ngSubmit)="onSubmitForm()">
        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="text" class="form-control" placeholder="Nom" id="name" name="name" formControlName="name">
            </div>
        </div>
        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="text" class="form-control" placeholder="Prénom" id="fname" name="fname" formControlName="fname">
            </div>
        </div>
        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="email" class="form-control" placeholder="Email" id="email" name="email" formControlName="email">
            </div>
        </div>
        <div class="row marged bgWhite">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <p class="txt-center">En validant ce formulaire, tu acceptes les <a routerLink="/cgu">CGU</a> de ce projet.</p>
            </div>
        </div>
        <div class="row marged">
            <div class="col-12 col-md-6 offset-md-3 col-lg-2 offset-lg-5">
                <button id="genderSubmit" type="submit" class="form-control btn-info" [disabled]="genderForm.invalid">
                    Envoyer</button>
            </div>
        </div>

    </form>
</div>

<div id="success">

</div>