.bgWhite {
    display: block;
    overflow-wrap: break-word;
  margin: 0.5rem;
  padding: 0.5rem !important;
  opacity: 0.80;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #000;
  background-color: #FFF;

}