<div class="row info-block">
    <div class="col-12 col-md-6 offset-md-3">
        <h3 class="txt-center">Bienvenue dans la "Parents Zone"</h3>
        <img class="biggest-icon" src="./assets/img/dashboard.svg" />
        <p class="txt-center">Utilisez le menu pour naviguer entre les différentes pages.</p>
    </div>
</div>