<ngx-spinner bdColor="rgba(51,51,51,1)" size="medium" color="#fff" type="ball-newton-cradle" fullScreen="true">
    <p style="color: white">{{ spinnerTxt }} </p>
</ngx-spinner>

<div class="hidden" id="gender">
    <h2 class="text-center">As ton avis, ce sera une fille ou un garçon ?</h2>
    <div class="row">
        <div class="col-6">
            <div id="choiceG" class="form-control btn btn-girl invert" (click)="onChoice('G')">Fille</div>
        </div>
        <div class="col-6">
            <div id="choiceB" class="form-control btn btn-boy invert" (click)="onChoice('B')">Garçon</div>
        </div>
    </div>
</div>
<div class="hidden" id="name">
    <h2 class="text-center">Devineras-tu le prénom de notre {{ genderTxt }}? </h2>
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <div id="betName" class="form-control btn btn-boy invert" (click)="onBet()">Vote pour le prénom</div>
        </div>
    </div>
</div>
<div class="hidden" id="end">
    <h2 class="text-center">{{ nameSetting.value | titlecase }} est arrivé{{ accord }} !!</h2>
    <div class="row" id="end">
    </div>
</div>