<div class="info-block">
    <div class="row marged justify-content-center">
        <div class="col-12 col-md-1 txt-center">
            <a routerLink="/cgu">CGU</a>
        </div>
        <div class="col-12 col-md-2 txt-center">
            <a routerLink="/parents">dashboard</a>
        </div>
        <div class="col-12 col-md-1 txt-center" *ngIf="currentUser">
            <button class="btn btn-link" (click)="onLogOut()">deconnexion</button>
        </div>
    </div>
    <div class="row marged">
        <div class="col-12 txt-center">
            <p><small>"<a href="https://gitlab.com/baby-project" target="_Blank">Projet BB</a>" v{{ version }} CC BY-SA-NC @<a href="https://twitter.com/Dark_Chyper" target="_BLANK">Drk_Chpr</a> 2019</small></p>
        </div>
    </div>
</div>