<div class="info-block  txt-center">
    <h3>As ton avis quel prénom allons-nous choisir ?
        <br /><small class="text-muted">Tu peux proposer entre 1 et 3 prénoms.</small></h3>

    <p>Celui ou celle qui trouvera aura droit à une petite surprise !</p>
</div>

<div class="error-block hidden" id="errorBlock"></div>
<div id="success"></div>

<div id="completeNameForm">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-newton-cradle" fullScreen="true">
        <p style="color: white"> Enregistrement... </p>
    </ngx-spinner>

    <form [formGroup]="nameForm" (ngSubmit)="onSubmitForm()">
        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="text" class="form-control" placeholder="Choix 1" id="choice1" name="choice1" formControlName="choice1">
            </div>
        </div>
        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="text" class="form-control" placeholder="Choix 2" id="choice2" name="choice2" formControlName="choice2">
            </div>
        </div>
        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="text" class="form-control" placeholder="Choix 3" id="choice3" name="choice3" formControlName="choice3">
            </div>
        </div>

        <div class="info-block">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                            <p class="mb-0">
                                <img src="./assets/img/info.svg" class="icon" alt="information icon">Un petit indice ?
                            </p>

                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Notre petit pois aura un prénom classique. Pas de prénom composé, pas de prénom inventé.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="text" class="form-control" placeholder="Nom" id="name" name="name" formControlName="name">
            </div>
        </div>
        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="text" class="form-control" placeholder="Prénom" id="fname" name="fname" formControlName="fname">
            </div>
        </div>
        <div class="row marged">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <input type="email" class="form-control" placeholder="Email" id="email" name="email" formControlName="email">
            </div>
        </div>
        <div class="row marged bgWhite">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <p class="txt-center">En validant ce formulaire, tu acceptes les <a routerLink="/cgu">CGU</a> de ce projet.</p>
            </div>
        </div>
        <div class="row marged">
            <div class="col-12 col-md-6 offset-md-3 col-lg-2 offset-lg-5">
                <button id="genderSubmit" type="submit" class="form-control btn-info" [disabled]="nameForm.invalid">
                    Envoyer</button>
            </div>
        </div>

    </form>
</div>