/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Learning_curve";
    src: url("./assets/font/learning_curve/LearningCurve.ttf") format("ttf");
}

body {
    min-height: 100vh;
    background-image: url("./assets/img/background.jpg");
    background-repeat: repeat;
    font-family: "Learning_curve";
}

h1 {
    padding: 1em !important;
}

.spaceBetween {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
}

.info-block,
.success-block,
.error-block,
.warning-block {
    display: block;
    overflow-wrap: break-word;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem !important;
    opacity: 0.80;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.info-block {
    color: #000;
    background-color: #FFF;
}

.warning-block {
    color: #000;
    background-color: darksalmon;
}

.success-block {
    color: #000;
    background-color: #ADD9BD;
}

.error-block {
    color: #FFF;
    background-color: #BA7F8E;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.marged {
    margin: 0.7rem 0;
}


/* TEXTES */

.txt-center {
    text-align: center;
}

.font-girl {
    color: #BD8AAD;
    font-weight: bold;
}

.font-boy {
    color: #3E7E80;
    font-weight: bold;
}


/* FORMULAIRES */

.btn.invert {
    opacity: 0.75;
    height: unset;
    padding: 3rem;
}

.btn.invert.disabled,
.btn.invert:disabled {
    opacity: 1;
    font-weight: bolder;
}

.btn-boy {
    color: #fff;
    background-color: #5EBEBF;
    border-color: #5EBEBF;
}

.btn-boy:hover {
    color: #fff;
    background-color: #70E4E6;
    border-color: #7DFDFF;
}

.btn-boy:focus,
.btn-boy.focus {
    color: #fff;
    background-color: #70E4E6;
    border-color: #7DFDFF;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-boy.disabled,
.btn-boy:disabled {
    color: #fff;
    background-color: #70E4E6;
    border-color: #7DFDFF;
}

.btn-girl {
    color: #fff;
    background-color: #E3A6D1;
    border-color: #E3A6D1;
}

.btn-girl:hover {
    color: #fff;
    background-color: #FCB8E8;
    border-color: #FCB8E8;
}

.btn-girl:focus,
.btn-girl.focus {
    color: #fff;
    background-color: #FCB8E8;
    border-color: #FCB8E8;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-girl.disabled,
.btn-girl:disabled {
    color: #fff;
    background-color: #FFA1F6;
    border-color: #FFA1F6;
}


/* PARENT ZONE */

#headerNav {
    background: repeating-linear-gradient( 45deg, #e7c504, #e7c504 10px, #AAA 10px, #AAA 20px);
}

.nav-link,
.navbar-brand {
    color: black !important;
}

.nav-item,
.btn-link {
    color: black !important;
}

.nav-link.disabled {
    color: grey !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-header.G,
.card-header.B {
    margin: 0;
    padding: 0.5rem;
}

.card-header.G {
    background: rgba(227, 166, 209, 0.9);
}

.card-header.B {
    background: rgba(94, 190, 191, 0.9);
}

.card-header.K {
    background-color: grey !important;
}

.card-header.I {
    display: none !important;
}

.card-body {
    background: rgba(255, 255, 255, 0.75);
}

.slider-section {
    display: flex;
    align-content: center;
    align-items: center;
}

.mat-card {
    padding: 0.3rem 0.1rem !important;
    -webkit-border-radius: .25rem !important;
    -moz-border-radius: .25rem !important;
    border-radius: .25rem !important;
    margin: 0 !important;
}

.biggest-icon,
.big-icon,
.moy-icon {
    display: block;
    margin: auto;
}

.biggest-icon {
    max-height: 6rem;
    max-width: 6rem;
}

.big-icon {
    max-height: 3rem;
    max-width: 3rem;
}

.moy-icon {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.badge-boy {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(94, 190, 191, 0.9);
}

.big-number {
    font-size: 10rem;
}

.moy-number {
    font-size: 3rem;
}

.separator {
    border-left: 2px solid grey;
}