<div class="row">
    <div class="col-12 txt-center">
        <h3>OUPSSS !</h3>
        <h4>Bébé ne semble pas être par ici :)</h4>
    </div>
    <div class="col-12 bg-404">
        <img src="./assets/img/fg_404.png" alt="" class="img-fluid">
    </div>
    <div class="col-12 txt-center">
        Revenir à la page d'<a routerLink="">Accueil</a>.
    </div>
</div>
