.bg-404 {
    display: block;
    background-color: rgba(73,167,237,0.60);
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}